<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luke.uikit">
    <application>
        <provider
            android:multiprocess="true"
            android:authorities="${applicationId}.uikit.installer"
            android:name=".popup.StackRootView$Installer"
            android:exported="false" />
    </application>
</manifest>