<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luke.uikit">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            android:multiprocess="true"
            tools:node="merge">
            <meta-data
                android:name="com.luke.uikit.internal.BitmapCache"
                android:value="@string/androidx_startup" />
            <meta-data
                android:name="com.luke.uikit.internal.StackRootViews"
                android:value="@string/androidx_startup" />
        </provider>
    </application>
</manifest>